<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="BanKuai">

    <update id="addRecord" parameterType="int" flushCache="true">
        UPDATE BanKuai SET count=count+1 WHERE BanKuaiID = #{BanKuaiID}
    </update>

    <select id="getBanKuais" resultType="com.model.BanKuai" useCache="true">
        SELECT * FROM BanKuai
    </select>

    <insert id="addBanKuai" parameterType="com.model.BanKuai" flushCache="true">
        INSERT INTO BanKuai (BanKuaiID,topic,count,description) VALUES (#{BanKuaiID},#{topic},#{count},#{description})
    </insert>

    <select id="countBanKuai" resultType="int" useCache="false">
        SELECT COUNT(1) FROM BanKuai
    </select>

    <!--查询某板块帖子总数-->
    <select id="getBanKuai" resultType="com.model.BanKuai" parameterType="int">
        SELECT * from BanKuai where BanKuaiID = #{BanKuaiID}
    </select>

    <!-- Cache 配置 -->
    <cache
            eviction="FIFO"
            flushInterval="60000"
            size="512"
            readOnly="true" />

</mapper>